.description {
  padding-top: 90px;
  &__left {
    width: calc(30% - 49px);
  }
  &__right {
    width: calc(70% - 21px);
  }
  &__content {
    display: flex;
    column-gap: 70px;
    &-title{
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 10px;
      color: #001E42;
    }
    &-txt{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: #252D37;

    }
  }

}